<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
    <title>Test Email Sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            max-width: 600px;
        }
        
        .container img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        
        .container h1 {
            text-align: center;
            font-family: "Courier New", Courier, monospace;
            font-size: 2.5rem;
            margin-bottom: 5px;
            color: black;
        }
        
        .container p {
            font-size: 1.25rem;
            text-align: center;
            font-family: "Courier New", Courier, monospace;
            color: black;
        }
        
        .container .icons {
            padding: 0.5rem;
            text-align: center;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            padding: 0 auto;
        }
        
        .container a {
            margin: 0 auto;
        }
        
        .container a img {
            width: 2.5rem;
            padding: 0 1.2rem;
            margin: 0;
        }
        
        a {
            text-justify: center;
        }
        
        a:visited {
            color: black;
            text-decoration: none;
        }
        
        ul {
            font-family: "Courier New", Courier, monospace;
            color: black;
            font-size: 1rem;
        }
        
        li {
            font-family: "Courier New", Courier, monospace;
            color: black;
            font-size: 1rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1>WELCOME TO Khana Khajana</h1>

            <br><br>
            <img src="./thali.jpg" alt="SkillBoard-Logo" />
            <p>
                Khana Khajana is a place for the students to hunt down the mess in their area which is providing their fav food.Join khana khajana and let us help you find your ideal breakfast/lunch/brunch or dinner!!!
            </p>
            <p>Join Us Here</p>
        </div>
        <br><br>
        <div class="icons">
            <a href="#">
                <img src="https://i.imgur.com/qx8fDhS.png" alt="" />
            </a>
            <a href="#">
                <img src="https://i.imgur.com/hyqp49e.png" alt="" />
            </a>
        </div>
    </div>
</body>

</html>